// Cross platform centering
.center {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.fullscreen {
  height: 100vh;
}

.left {
  text-align: left;
  p {
    text-align: left;
  }
}

// Cross platform images
.img-50-right {
  width: 50%;
  margin-left: 2rem;
  float: right;
  padding: .5rem 0 .5rem .5rem;
}

.img-50-left {
  width: 50%;
  margin-right: 2rem;
  float: left;
  padding: .5rem .5rem .5rem 0;
}

@import "_variables.scss";
@import "_pdf.scss";
@import "_epub_recs.scss";
@import "_screen_only.scss";
@import "_epub_only.scss";
@import "_typography.scss";